@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
.bg-img{
    background-image: url(../public/img/1.jpg); 
    background-size: cover; 
    background-position: center;
}
body{
    font-family: 'Nunito', sans-serif !important;
}

.c1-img{
    background-image: url(../public/img/c1.png);
    background-size: cover; 
    background-position: center;
}
.c2-img{
    background-image: url(../public/img/c2.png);
    background-size: cover; 
    background-position: center;
}
.c3-img{
    background-image: url(../public/img/c3.png);
    background-size: cover; 
    background-position: center;
}
.c4-img{
    background-image: url(../public/img/c4.png);
    background-size: cover; 
    background-position: center;
}
.active{
    color: #f75023;
}