@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
.head_bg{
    background-color: rgb(51, 50, 50);
    color: #fff;
    transition: 0.5s !important;
}
.bg-img{
    background-image: url(../public/img/1.jpg); 
    background-size: cover; 
    background-position: center;
}
body{
    font-family: 'Nunito', sans-serif !important;
}

.c1-img{
    background-image: url(../public/img/c1.png);
    background-size: cover; 
    background-position: center;
}
.c2-img{
    background-image: url(../public/img/c2.png);
    background-size: cover; 
    background-position: center;
}
.c3-img{
    background-image: url(../public/img/c3.png);
    background-size: cover; 
    background-position: center;
}
.c4-img{
    background-image: url(../public/img/c4.png);
    background-size: cover; 
    background-position: center;
}
.active{
    color: #f75023;
}
.active2{
    color: #f75023;
}
.awssld.awssld--organic-arrows {
    height: 350px;
    width: 775px;
}
.awssld__content {
    background-color: transparent !important;
}
span.awssld__controls__arrow-left {
    right: 10px;
}
span.awssld__controls__arrow-right {
    height: 20px;
}
span.awssld__controls__arrow-left {
    height: 20px;
}
.awssld__bullets button {
    background-color: #f75023 !important;
}

@media (max-width: 768px) {
    .awssld.awssld--organic-arrows {
        height: 450px;
        width: 475px;
    }
}